@{
    ViewBag.Title = "COMP2084 - Lab2";
}

<div class="jumbotron">
    <h1>COMP2084 - Lab2</h1>
    <p class="lead">.</p>
    <p>Source code available :  <a href=" https://github.com/A4803/comp2084-lab2.git" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

